<!-- profile-history -->
<div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Trusted By</h5>

        <!-- Image Slider -->
        <div class="slider-container">
          <section>
            <div class="container">
              <div class="view">
                <i class="fas fa-archive"></i>
                <p class="counter">16</p>
                <h6>Projects Completed</h6>
              </div>
              <div class="view">
                <i class="fa fa-suitcase"></i>
                <p class="counter">100</p>
                <h6>Templates</h6>
              </div>
              <div class="view">
                <i class="fa fa-database"></i>
                <p class="counter">23</p>
                <h6>Projects</h6>
              </div>
            </div>
          </section>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of slider-1 -->
  <!-- end of history-->
</div>
